# --------------------------------#
### portal user passwords       ###
# --------------------------------#
ADMIN_PWD=admin
DEMO_PWD=demo
# --------------------------------#
### system account passwords    ###
# --------------------------------#
DB_PWD=96175fbbb5d52982b0b5
RABBIT_PWD=82b7c5547ceda8b0debf
KEYSTONE_DB_PWD=af78d7b98f4120af637b
ADMIN_TOKEN=5c0c0ddec78b189e4f8b
GLANCE_DB_PWD=45e884d12955d9f57b75
GLANCE_PWD=21aae0ca48c42093b38e
NOVA_DB_PWD=d7488ffd68371c79083e
NOVA_PWD=b5ed9c8b9a2fb3da084c
CINDER_DB_PWD=efa05088656cad1d7e0d
CINDER_PWD=fa363ddabcc1212bdb70
NEUTRON_DB_PWD=a6bd956382b567378952
NEUTRON_PWD=22ec30f71c84b2ff4143
META_SHARED_SECRET=b93696a30488b57c44a8
DASH_DB_PWD=638417e5ec5a63f774a3
# --------------------------------#
### NOT used passwords          ###
# --------------------------------# 
#HEAT_DB_PWD=b18cd8c7d0c8a18f7127
#HEAT_PWD=1605f23997910c103db5
#CEILOMETER_DB_PWD=0fb1dafb041e6901e801
#CEILOMETER_PWD=1f5dfbae24d94d04684d
#TROVE_DB_PWD=5a27b70c39a63582f518
#TROVE_PWD=49f42493f70ba410d834
