### configuration parameters needed by the initial setup
# ---------------------------------------------------#
# Common information(For the whole environment)      #
# ---------------------------------------------------#
MGMT_DOMAIN_NAME=pscloud.local
EXT_DOMAIN_NAME=pscloud.com

# ---------------------------------------------------#
# Controller specific information(ONLY 1 node)       #
# ---------------------------------------------------#
CONTR_HOSTNAME=controller-1
CONTR_MGMT_IP=9.0.0.33

CONTROLLER_MGMT_FQDN=${CONTR_HOSTNAME}.${MGMT_DOMAIN_NAME}
CONTROLLER_EXT_FQDN=${CONTR_HOSTNAME}.${EXT_DOMAIN_NAME}

CINDER_VG_DEVICE=loop
#CINDER_VG_DEVICE=/dev/sdb
#CINDER_VG_SIZE_GB=10

# ---------------------------------------------------#
# Compute specific information                       #
# ---------------------------------------------------#
COMPT_HOSTNAME=compute-1

# ---------------------------------------------------#
# Network information for each host                  #
# ---------------------------------------------------#
NIC_P1=eth0
NIC_P2=eth1
BASE_BOND=bond0
BOND_MODE=1
#BOND_MODE=active-backup
VLANID_INT=101
VLANID_EXT=102
#
BOND_MGMT=${BASE_BOND}
BOND_INT=${BASE_BOND}.${VLANID_INT}
BOND_EXT=${BASE_BOND}.${VLANID_EXT}

# ---------------------------------------------------#
# Management network for each host                   #
# ---------------------------------------------------#
MGMT_IPADDR=9.0.0.44
MGMT_NETMASK=255.255.255.0
MGMT_GATEWAY=9.0.0.1
MGMT_DNS1=9.0.0.1

# ---------------------------------------------------#
# Internal tunnel network for each host              #
# ---------------------------------------------------#
INT_IPADDR=9.0.101.44
INT_NETMASK=255.255.255.0
INT_GATEWAY=9.0.101.1
INT_DNS1=9.0.101.1

# ---------------------------------------------------#
# External/floating IP network for each host         #
# ---------------------------------------------------#
EXT_IPADDR=9.0.102.44
EXT_NETMASK=255.255.255.0
EXT_GATEWAY=9.0.102.1
EXT_DNS1=9.0.102.1
